
.login{
    width:100%;
    height:100%;
    /* background-image: url('../../assets/img/bg.jpg'); */
    background-size: 100% 100%; 
    
}

.header{
    display: flex;
    align-items: center;
   height:80px;
   background-color: rgba(21,20,13,0.5);
  }
  .img{
    width:40px;
    height:40px;
    margin:0 15px 0 50px;
  }
  .h1{
    font-size:30px;
    color:white;
  }
  
.content{
   width:400px;
   height:300px;
   background-color: rgba(21,20,13,0.5);
   margin:80px auto;
   padding: 40px 40px;
}
.h2{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin:20px auto;
  }

/* .btn{
  width:100px;
  margin:0px auto;
} */
  
.btn_left{
  float:left;
  width:150px;
  
}


.btn_right{
  float:right;
  width:150px;
  
}
.span{
  color:rgb(189, 119, 65);
}
